{lib_dirs, ["deps"]}.
{erl_opts, [
            debug_info,
            warn_format,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
           ]}.

{deps, [
  {amqp_client, "2.8.2", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-2.8.2"}}},
  {rabbit_common, ".*", {git, "git://github.com/jbrisbin/rabbit_common.git", "rabbitmq-3.0.0"}},
  {emysql, "0.2.*", {git, "git://github.com/Eonblast/Emysql.git", "72700e58fe"}},
  {misultin, "0.9.*", {git, "git://github.com/ostinelli/misultin.git", "misultin-0.9"}},
  {mochiweb, "2.3.2", {git, "git://github.com/mochi/mochiweb.git", "v2.3.2"}}
]}.
